nav { margin-right: 0px;}

main {
    height: 600px;
    background-color: antiquewhite;
}

main h1 {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 50px;
}

* {
    box-sizing: border-box;
}

.first-row {
    height: 600px;
    text-align: center;
}

/* Clear floats after the columns */
.first-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create three unequal columns that floats next to each other */
.first-column {
    float: left;
    height: 600px;
    border: 1px solid;
}

.left {
    width: 25%;
}

.right {
    width: 35%;
}

.middle {
    width: 40%;
}

ul {
    list-style-type: none;
}

.underline ul li {
    margin-top: 20px;
    border-bottom: 1px solid;
    padding: 4px;
}

.underline ul li:last-child {
    border: 0px;
}

.work-experience {
    border-bottom: 1px solid;
}

.reviews {
    height: 600px;
}

.reviews h1 {
    margin-top: 100px;
    margin-left: 50px;
}

.second-row {
    margin-top: 50px;
}

/* Clear floats after the columns */
.second-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create three equal columns that floats next to each other */
.second-column {
    float: left;
    margin-right: 60px;
    margin-left: 40px;
    padding: 10px;
    border: 1px solid;
    border-radius: 30px;
    text-align: center;
}

.rights {
    text-align: center;
    font-size: 25px;
}

