nav {
    background-color: white;
    height: 40px;
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 20px;
}

.caveat {
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 22px;
}

.main-intro {
    height: 600px;
    background-color: white;
    display: flex;
}

.main-intro h1 {
    font-size: 50px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.intro {
    margin: auto;
    text-align: center;
}

.intro p {
    color: #8c8c8c;
}

* {
    box-sizing: border-box;
}

.content-row {
    height: 600px;

}

/* Clear floats after the columns */
.content-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create three unequal columns that floats next to each other */
.content-column {
    float: left;
    height: 600px;
}

.content-column h2 {
    margin-left: 50px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.content-column h3 {
    margin-left: 50px;
}

.content-column p {
    margin-left: 50px;
}

.content-column a {
    margin-left: 50px;
}

.left {
    width: 25%;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.right {
    width: 35%;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.middle {
    width: 40%;
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.left ul {
    list-style-type: none;
    padding-left: 0px;
}

.right ul {
    list-style-type: none;
}

.underline ul li {
    margin-top: 20px;
    border-bottom: 1px solid;
    padding: 4px;
    padding-left: 50px;
}

.underline ul li:last-child {
    border: 0px;
}

.work-experience {
    border-bottom: 1px solid;
    padding-bottom: 40px;
}

.work-experience a {
    color: #3399ff;
}

.opensource-work a {
    color: #3399ff;
}

.reviews {
    height: 500px;
}

.reviews h2 {
    margin-top: 100px;
    margin-left: 50px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.reviews-row {
    margin-top: 50px;
}

/* Clear floats after the columns */
.reviews-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create three equal columns that floats next to each other */
.reviews-column {
    float: left;
    margin-right: 60px;
    margin-left: 60px;
    padding: 40px;
    border: 1px solid;
    border-radius: 50px;
    text-align: left;
}

.reviewer {
    color: #bfbfbf;
}

.reviewer-title {
    color: #bfbfbf;
}

.rights {
    text-align: center;
    font-size: 25px;
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/*Contact form */

* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}