/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

main {
    height: 600px;
    background-color: antiquewhite;
}

main h1 {
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 50px;
}

.home-columns {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*
.first-column br {
    border-bottom: 2px black;
    display: block;
    margin: 20px 0;
    line-height: 22px;
    content: " ";
}
    */

    * {
        box-sizing: border-box;
      }
      
/* Create three unequal columns that floats next to each other */
.first-column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  .left {
    width: 25%;
  }

  .right  {
    width: 35%;
  }
 
  .middle {
    width: 40%;
  }

  /* Clear floats after the columns */
.first-row:after {
    content: "";
    display: table;
    clear: both;
  }




ul {
    list-style-type: none;
}

.first-column ul li {
    margin-top: 20px;
    border-bottom: 1px solid;
}



.reviews {
    height: 800px;
}

.reviews h1 {
    margin-top: 100px;
    margin-left: 50px;
}



.second-row {
    margin-top: 50px;
}

/* Clear floats after the columns */
.second-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create three equal columns that floats next to each other */
.second-column {
    float: left;
    margin-right: 60px;
    margin-left: 40px;
    padding: 10px;
    border: 2px solid;
    border-radius: 30px;
    text-align: center;
}

.rights {
    text-align: center;
}